$logodark:#C18B39;
$logolight:#EDD580;
$logomedium:#BC8232;
$logogradien:radial-gradient(343.88% 97.53% at 50% 50%, #BF8836 0%, #F2DE8A 100%);;
$logosize:30px;
$linkclr:#848895;
$linsize:17px;
$weight_400:400;